<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/main.css" />
    <title>Document</title>
  </head>
  <body>
    <div>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
        
      </ul>
    </div>

    <div class="main-div">
      <img id="main-img" src="./img/img1.jpg" />
    </div>

    <div>
        <div class="block">
            <img src="./img/img1.jpg"/>
            <h4>Image 2</h4>
            <p>This is image 1</p>
            <a style="padding: 5px; text-decoration: none; color: rgb(247, 246, 245);" href="/nature">Read more</a>
        </div>

        <div class="block">
            <img src="./img/img2.jpg"/>
            <h4>Image 2</h4>
            <p>This is image 2</p>
            <a style="padding: 5px; text-decoration: none; color: rgb(247, 246, 245);" href="/the_world">Read more</a>
        </div>
    </div>
 
    <footer>
      <div class="footer-div">
        <p>first</p>
        First line
      </div>

      <div class="footer-div">
        <p>second</p>
        Second line
      </div>

      <div class="footer-div">
        <p>Third</p>
        Third line
      </div>
    </footer>
  </body>
</html>

