<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/main.css" />
    <title>Nature</title>
  </head>
  <body>
    <div>
      <ul>
        <li><a>Home</a></li>
        <li><a>About</a></li>
        <li><a>Contact</a></li>
      </ul>
    </div>

    <div class="main-div">
    
    </div>

    <div>
       

        <div class="big-block">
            <img src="./img/img2.jpg"/>
            <h4>Image 2</h4>
            <p>This is image 2</p>
        </div>
    </div>
 
    <footer>
      <div class="footer-div">
        <p>first</p>
        First line
      </div>

      <div class="footer-div">
        <p>second</p>
        Second line
      </div>

      <div class="footer-div">
        <p>Third</p>
        Third line
      </div>
    </footer>
  </body>
</html>
